.footer {
  background: #373737;
  color: #fff;
  .footerLinks {
    display: flex;
    padding: 30px 20px 30px 20px;
  }
  .footerConnect {
    background: #737373;
    padding: 15px 15px;
  }
  .footerTnc {
    text-align: center;
    padding: 30px 0px;
  }
}
